{
  "host":"redis",
  "port":6379,
  "max_connections":10,
  "key_prefix":{
    "account":"at",
    "account_counter":"atc",
    "contact":"ct",
    "contact_counter":"ctc",
    "lead":"ld",
    "lead_counter":"ldc"
  }
}
